html{
  height: 100%;
}

body{
  margin: 33%;
  padding: 0%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  background: #e2e6e7;
}

/* login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 48px;
  transform: translate( 50%, -50%);
  background: rgba(0, 0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0,0,.6);
  border-radius: 10px; 
}*/

login-box h2{
  margin: 0 0 30px; 
  padding: 0;
  color: #fff;
  text-align: center;
}




.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  text-shadow: #03d9e4;
  width: 100px;
  padding: 10px 0%;
  font-size: 16px;
  color: #0793c6;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline:none;
  background: transparent;
}

.login-box img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
  cursor: pointer;
}

.login-box .user-box input:hover {
  outline: 2px solid #03e9f4;
  border-radius: 20px;
  box-shadow: 0 0 15px #03e9f4;
  width: 200px;
  height: 18px;
  transition: width 0.5s;
}

.login-box .user-box input:focus + img {
  animation: roll-out 0.5s;
}

@keyframes roll-out {
  0% {
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-50%) scale(1.5);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}



/* login text properties */
.login-box form a {

  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

/* coloring and glowing for login
giving it a button like look as well */
.login-box a:hover{
  background: #03e8e8;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 5px #03e9f4,
  0 0 50px #03d9e4,
  0 0 100px #03e9f4;
}

.login-box a span{
  position: absolute;
  display: block;
}

/* creating horizontal line that runs above the 
login button */
.login-box a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}
/* animation lets the horizontal line run
above the login button */
@keyframes btn-anim1 {
  0% {
      left: -100%;
  }
  50%,100%{
      left: 100%
  }
}

/* creating vertical line that runs right of the 
login button */
.login-box a span:nth-child(2){
  top: -100;
  right: -0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

/* animation lets the vertical line run
right of the login button */
@keyframes btn-anim2 {
  0% {
      top: -100%;
  }
  50%,100%{
      top: 100%
  }
}

/* creating horizontal line that runs below the 
login button */
.login-box a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

/* animation lets the horizontal line run
below the login button */
@keyframes btn-anim3 {
  0% {
      right: -100%;
  }
  50%,100%{
      right: 100%
  }
}

/* creating vewrtical line that runs left of the 
login button */
.login-box a span:nth-child(4){
  bottom: -100;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

/* animation lets the vertical line run
left of the login button */
@keyframes btn-anim4 {
  0% {
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%
  }
}